.NavBar {
    display: flex;
    width: 100%;
    justify-content: right;
    background-color: lightskyblue;
  }
  
  .link {
    margin-left: 10px;
    margin-right: 20px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    justify-content: right;
  }

  .link:hover {
    border-bottom: 2 px solid purple;
  }
  .linkHome {
      flex: 1 1 200px;
      color: black;
      font-weight: bolder;
      font-size: 30px;
  }
  