.count {
    align-items: center;
    padding: 0px;
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
    font-style: oblique;
    color: rgb(0, 68, 255);
  }
  
  .is-public-container{
    display:flex;
  }

  .is-public-checkbox {
    width: 30px;
    height: 30px;
    align-self: center;
  }